<div class='download_links'>
	<ul>
	<li class=""><%= link_to "download as matrix", downloads_generate_data_download_path  %></li>
	<li class=""><%= link_to "download as biom", downloads_generate_data_download_path  %></li>
	<li class=""><%= link_to "download as csv", downloads_generate_data_download_path  %></li>
	</ul>
</div>