<div class="grid_2 alpha">
  Switch to:  
      <% ['heatmap', 'tax_table', 'bar_charts'].each do |view| %>
        <%= button_to view.tr('_', ' ').capitalize, { action: "what_to_show", view: view} %>
      <% end %>
      
</div>
