<h1>Welcome to VAMPS</h1>

<p class="standard">
    VAMPS is an integrated collection of tools for researchers to visualize and analyze data for 
    microbial population structures and distributions. For more information on the VAMPS project, 
    visit our <%= link_to "Overview", overview_path %> page. 
</p>

<p class="standard">
    There are two essential elements to VAMPS: 
</p>
<ul>
    <li class="standard">
        <strong>Visualization and Analysis</strong> - <em><%= link_to "Community Visualization", visualization_index_path %></em>
        including heat maps and comparative pie charts, as well as diversity estimates, rarefaction curves and spreadsheet-style 
        output provide researchers with analytical tools for assessing individual microbial populations, based on either 
        taxonomic assignments or independently-derived operational taxonomic units (OTUs). 
    <br /><br />
    </li>
    <li class="standard">
        <strong>Data Ramp</strong> - Researchers who want to use the VAMPS tools with their own data can enter their 
        sequence or taxonomy data to the VAMPS website and merge it with the existing shared datasets for individual 
        or comparative analyses. Researchers will be given a user name and password, and their data will be visible 
        only to registered users of their choice. 
        <br /><br />
    </li>
</ul>