html, body {
    background: #ccc;
}    

#headerBar {
    position: relative; 
    width: 100%; /* for IE 6 */
/*    background: white;      */
}

/*#header_image {
    background: white;      
}
*/
#header_slogan {
    height:64px;    
    font-size: medium;
    background: #00CCFF;    
    
}

#header_slogan p {
    margin-top: 3ex;
    margin-left: 0.5ex;
    color:navy;        
}

.head_menu {
    height: 26px;
    
    position: absolute; 
    top: 63px; 
    width: 100%; 
    
    list-style-type: none;
    font-weight: bold;
}
.head_menu li {
    float: left;
}

.head_menu a {
    display: block;
    padding: 0.5ex;    
    text-decoration: none;
    color: black;
    background: white;
    border: 1px solid grey;
}

.head_menu a:hover {
    color: white;
    background: #00CCFF;
}

#footerBar {
    height: 10ex;
    background: #FFCC00;
    font-size: x-small;
    text-align: center;
}

#main_content {
    min-height: 10ex;
}