/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

	
html, body { 
    margin: 0; 
    padding: 0 
    width:100%;
    background: #ccc;
}
#contentWrapper {
    width:100%;
    margin: 0 auto;
    padding: 0 10px ;
    background: #ccc;
   
}
#headerBar {
    height: 60px;
    width:8000px;
    background: #00CCFF;
}
#headerBar span{
    position:absolute;
    margin:20px 0 0 3px;
    color:navy;
    
}

#footerBar {
    height: 50px;
    background: #FFCC00;
    font-size:9px;
}

.standard_table {
    font-size:12px;
    border-collapse:collapse;
}

/* left_menu */
.left_menu {
    list-style: none;
    margin: 0  0 10px 416px;
    position: relative;
    right: 286px;
    z-index: 9;
    height: 26px;
    padding: 0px 4px 4px 4px;
    font-weight: bold;
}
.left_menu li {
    list-style: none;    
    float: left;
    margin-right: 0px;
}

.left_menu a {
    display: block;
    padding: 5px;
    color: #444444;
    background: #fff;
    text-decoration: none;
    border: 1px solid grey;
}

.left_menu a:hover {
    color: #fff;
    background: #04B431;
}

/* download_links */
.download_links {
    list-style: none;
    margin: 0  0 0px 0px;
    position: relative;
    
    z-index: 9;
    height: 26px;
    padding: 0px 1px 1px 1px;
    font-size: small;
    font-weight: bold;
}
.download_links li {
    list-style: none;
    float: left;
    margin-right: 0px;
}

.download_links a {
    display: block;
    padding: 3px;
    color: #444444;
    background: yellow;
    text-decoration: none;
    border: 1px solid grey;
}
.download_links a:hover {
    color: #fff;
    background: #04B431;
}


