/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
$header_blue: #00CCFF;
$footer_gold: #FFCC00;
	
html, body { 
    margin: 0; 
    padding: 0;
    width:100%;
    background: #ccc;
}
#contentWrapper {
    width:100%;
    margin: 0px auto;
    padding: 0 10px ;
    background: #ccc;

   
}
#headerBar {
    position:absolute;
    background: $header_blue;
    top:0;
    left:0;
    right:0;
    height:60px;
    width:8000px;
}
#headerBar span{
    position:absolute;
    margin:20px 0 0 3px;
    color:navy;
    
}

#footerBar {
    height: 50px;
    background: $footer_gold;
    font-size:9px;
    text-align: center;
}

.standard_table {
    font-size:12px;
    border-collapse:collapse;
}

/* left_menu */
.left_menu {
    list-style: none;
    margin: 0  0 70px 416px;
    position: relative;
    right: 286px;
    z-index: 9;
    height: 26px;
    top:60px;
    padding: 0px 4px 4px 4px;
    font-weight: bold;
}
.left_menu li {
    list-style: none;    
    float: left;
    margin-right: 0px;
}

.left_menu a {
    display: block;
    padding: 6px 5px 5px 5px;
    color: black;
    background: white;
    text-decoration: none;
    border: 1px solid grey;
}

.left_menu a:hover {
    color: white;
    background: $header_blue;
}

/* download_links */
.download_links {
    list-style: none;
    margin: 0  0 0px 0px;
    position: relative;
    
    z-index: 9;
    height: 26px;
    padding: 0px 1px 1px 1px;
    font-size: small;
    font-weight: bold;
}
.download_links li {
    list-style: none;
    float: left;
    margin-right: 0px;
}

.download_links a {
    display: block;
    padding: 3px;
    color: black;
    background: yellow;
    text-decoration: none;
    border: 1px solid grey;
}
.download_links a:hover {
    color: #fff;
    background: green;
}

.debug_table{
font-size:10px;

}

