// Place all the styles related to the project controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$blue1: #3bbfce;

.simple_table_div {
  #border:1px solid black;
  width:80%;
  height:550px;
  overflow:auto;
  margin:10px 10px 10px 50px;
}
table.simple_table tr, td, th {
  border: 1px solid $blue1;
  border-collapse: collapse;
  border-spacing: 0pt;
}

td {
  padding:0px;
}

// Main Menu
ul.main_menu {
  list-style: none;

}

ul.main_menu li {
  display: inline-block;
}

ul.main_menu li a {
    text-decoration: none;
    background: $blue1;
    color: #fff;
    padding: 0.25em;
}

ul.main_menu li a:hover {
    background: #ff00ff;
}

ul.main_menu li ul.submenu {
    list-style: none;
    display: none;
}

ul.main_menu li:hover > ul.submenu {
    position: absolute;
    display: inline-block;
    top: 40px;
}