<h1>Title goes here</h1>

<%= render "debug" %>
<%= render "downloads" %>

<div class="grid_1 affix_11">
  Choose:  
      <% ['heatmap', 'tax_table', 'bar_charts'].each do |view| %>
        <% params[:view] = view %>
        <%= button_to view.tr('_', ' ').capitalize, { action: "parse_view", params: params } %>
      <% end %>
</div>

<div class="grid_12">
  <%= yield %>
</div>
